@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <p>​ចុះឈ្មោះឥឡូវនេះ_<a href="https://www.facebook.com/VIPBeautyCenterSPA/">VIP beauty CENTER</a>ឱកាសឈ្នះរង្វាន់ពីមជ្ឈមណ្ឌលថែរក្សា.</p>
        <img src="C:\Users\Kim Vandy\Desktop\123.jpg"/>
    </div>
